@model MVC_EduHub_Project.User
@{

    ViewData["Title"] = "Educator Page";
    Layout = "~/Views/Shared/_LayoutEducator.cshtml";
    var photoPath = "~/assests/userimages/" + (Model.ProfileImage ?? "Noimge.jpg");

}

<h2>Welcome Educator : @TempData["Educator"]</h2>

<div class="row justify-content-center m-3">
    <div class="col-sm-8 ">
        <div class=" text-center d-flex w-100 justify-content-center  align-items-center">
            <img class="card-img-top" height="300px" width="300px" src="@photoPath" asp-append-version="true" />
            <div class="w-100 h-100 float-left">
                @* <h4>User ID : @Model.UserId</h4> *@
                <h4>Name : @Model.UserName</h4>
                <h4>Role : @Model.Role</h4>
                <h4>Email : @Model.Email</h4>
                <h4>Mobile_no : @Model.Mobile_no</h4>
            </div>
        </div>
    </div>
</div>
</div>