@model MVC_EduHub_Project.Models.Material

@{
    ViewData["Title"] = "Delete";
}

<div class="container mt-5">
    <h3 class="text-danger text-center">Are you sure you want to delete this?</h3>
    <div class="card">
        <div class="card-header bg-danger text-white">
            <h4>Material Details</h4>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Title)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Title)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.URL)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.URL)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.UploadDate)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.UploadDate)
                </dd>
                <dt class="col-sm-3 font-weight-bold">
                    @Html.DisplayNameFor(model => model.ContentType)
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => model.ContentType)
                </dd>
            </dl>
        </div>
        <div class="card-footer text-right">
            <form asp-action="Delete">
                <input type="submit" value="Delete" class="btn btn-danger" />
                <a asp-controller="Material" asp-action="GetMaterialByCourseId" asp-route-id=@Model.CourseId
                    class="btn btn-secondary">Back to Material</a>
            </form>
        </div>
    </div>
</div>
