@model IEnumerable<MVC_EduHub_Project.Models.Material>

@{
    ViewData["Title"] = "List";
}

<h1>List of Materials</h1>

@* <p>
<a asp-action="Create">Create New</a>
</p> *@
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            @* <th>
            @Html.DisplayNameFor(model => model.MaterialId)  

            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)  

            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model
                         => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            @* <th>
            @Html.DisplayNameFor(model => model.CourseId)
            </th> *@
            <th class="action-cell">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>
            @Html.DisplayFor(modelItem => item.MaterialId)  

            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Title)  

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <a href="@item.URL" target="_blank">@Html.DisplayFor(modelItem
                    => item.URL)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentType)
                </td>
                @* <td>
            @Html.DisplayFor(modelItem => item.CourseId)
            </td> *@
                <td class="action-cell " >
                    <a asp-action="Edit" asp-route-id="@item.MaterialId" class="btn btn-primary btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.MaterialId" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.MaterialId" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>