@model IEnumerable<MVC_EduHub_Project.Models.Material>

@{
    ViewData["Title"] = "List";
}

<h1>List of Material</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.MaterialId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.URL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UploadDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>
                @Html.DisplayFor(modelItem => item.MaterialId)
            </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.URL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UploadDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContentType)
                </td>
                @* <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td> *@
                @* <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.MaterialId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaterialId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaterialId })
                </td> *@
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Course" asp-action="MyCoursesStatusAccepted" asp-item-id="">Back to Course</a>
