@model IEnumerable<MVC_EduHub_Project.Models.GetEnrollCourse>

@{
    ViewData["Title"] = "List";
}

<h1>List Of Enrolled Courses</h1>

<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.EnrollmentId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                CourseName
                @* @Html.DisplayNameFor(model => model.Title) *@
            </th>
            <th>
                StudantName
                @* @Html.DisplayNameFor(model => model.UserName) *@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.EnrollmentId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.EnrollmentDate)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @* @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ }) *@
                    @* <a class="nav-link btn btn-warning btn-sm" asp-controller="Enrollment"
                        asp-action="GetEnrollmentByCourseId" asp-route-id="@item.CourseId">Update Enroll Status</a> *@
                    <a class="nav-link btn btn-warning btn-sm" asp-controller="Enrollment"
                        asp-action="Edit" asp-route-id="@item.EnrollmentId">Update Enroll Status</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="btn btn-secondary" asp-action="EducatorIndex" asp-controller="User">Back to DashBoard</a>
</p>