@model IEnumerable<MVC_EduHub_Project.Models.GetEnrollemntByUserId>

@{
    ViewData["Title"] = "List";
}

<h1 class="text-center my-4">List Of Enrollemented Courses</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EnrollmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
               
            </tr>
        }
    </tbody>
</table>

<p>
    <a class="btn btn-secondary" asp-action="StudentIndex" asp-controller="User">Back to DashBoard</a>
</p>
