@model IEnumerable<MVC_EduHub_Project.Course>

@{
    ViewData["Title"] = "All Course";
}

<h1>All Course</h1>


<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.CourseId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.level)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.userId)
            </th> *@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.CourseId)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.courseEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.level)
            </td>
            @* <td>
                @Html.DisplayFor(modelItem => item.userId)
            </td> 
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td> *@
        </tr>
}
    </tbody>
</table>
