@model MVC_EduHub_Project.Course

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutEducator.cshtml";
}

<h2>Course Details</h2>

<div class="card">
    <div class="card-header">
        <h5 class="card-title">@Model.Title</h5>
    </div>
    <div class="card-body">
        <p>
            <a asp-controller="Material" asp-action="GetMaterialByCourseId" asp-route-id="@Model.CourseId"
                class="btn btn-primary btn-sm">Show Materials</a>
        </p>
        <hr />
        <dl class="row">
            @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourseId)
            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourseId)
            </dd> *@
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.courseStartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.courseStartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model=> model.courseEndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.courseEndDate)
            </dd> 
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.category)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.category)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.level) 
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.level)
            </dd>
            @* <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.userId)  

            </dt>
            <dd class="col-sm-10">
            @Html.DisplayFor(model => model.userId)
            </dd> *@
        </dl> 

    </div>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.CourseId" class="btn btn-primary btn-sm">Edit</a> |
    <a asp-asp-controller="Course" asp-action="Mycourse" class="btn btn-secondary btn-sm">Back to Course</a>
</div>