@model IEnumerable<MVC_EduHub_Project.MyCourses>

@{
    ViewData["Title"] = "List Of My Course";
}

<h1 class="text-center my-4">List of My Enroll Courses</h1>

<table class="table table-striped table-bordered">
    <thead class="thead-light">
        <tr>
            <th>
                CourseName
                @* @Html.DisplayNameFor(model => model.Title) *@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.courseEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.level)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseStartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.courseEndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.category)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.level)
                </td>
                <td>
                    <a class="btn btn-info btn-sm" asp-controller="Material" asp-action="MaterialForCourse"
                        asp-route-id=@item.CourseId>Material For that Course</a>
                    <a class="btn btn-success btn-sm text-dark" asp-controller="Feedback" asp-action="AddFeedback"
                        asp-route-id=@item.CourseId>Give Feedback</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a class="btn btn-secondary" asp-controller="User" asp-action="StudentIndex">Back to DashBoard</a>